/* -------  Fonts -------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');




/* ------------------------
    Reusable Styles
--------------------- */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn span {
    width: 88px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 7px;
}
.btn i {
   transition: .5s linear;
}
.btn:hover i {
    padding-left: 10px;
    transition: .3s linear;
}



/* ------------------------
    Banner section styles
--------------------- */
#banner {
    width: 100%;
    display: flex;
    background-color: #2D25A0;
    padding: 50px 0px;
    margin-bottom: 70px;
}
#banner:hover  .banner-image {
       transform: scale(.9);
       transition: .5s linear;
}
.half-width {
    width: 50%;
    display: flex;
    justify-content: center;
}
.banner-title {
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 27px;
}
.half-width .banner-image {
    width: 556px;
    height: 438px;
    transition: .8s linear;
}



/* ------------------------
    Players section styles
--------------------- */
#container {
    width: 1140px;
    margin: 0px auto 70px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}
.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
    display: inline-block;
    margin-bottom: 16px;
}
.player-title {
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.player-description {
    margin-top: 10px;
}


/* ------------------------
    highlights section styles
--------------------- */
#highlights {
    display: flex;
    padding: 100px 0px;
    margin-bottom: 70px;
    background-color: #F7F7F7;
}
.highlights-info {
    padding: 0px 50px;
}
.highlights-title {
    width: 469px;
    height: 120px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 8px;
}
.highlights-description {
    margin-top: 60px;
}
 .highlights-image {
    width: 567px;
    height: 427px;
}






/* ------------------------
    Top player section styles
--------------------- */
#top-players {
    margin-top: 70px;
    padding: 70px 0px;
}
.top-players-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.top-players-description {
    width: 60%;
    margin: 0px auto 30px;
    text-align: center;
}
.top-players-list {
    display: flex;
    justify-content: space-around;
}
.top-players-list .top-player-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.top-players-list h5 {
    font-size: 18px;
    text-align: center;
    margin: 0px 10px 15px;
}
.players-record {
    margin-left: 25px;
}
.players-record span {
    font-weight: 900;
    color: #d15783;
}




/* ------------------------
    Newsletter section styles
--------------------- */
#newsletter-area {
    padding: 60px 0px 80px 0px;
    background-color: #F7F7F7
  }

  .newsletter {
    width: 500px;
    max-width: 100%;
    margin: auto;
    text-align: center;
  }

  .newsletter-title {
    font-size: 32px;
    font-weight: 700;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-input {
    text-align: center;
    font-weight: 500;
    padding: 10px 25px;
    border: 2px solid #e02c6d;
    transition: .3s linear;
    display: inline-block;
    margin-bottom: 15px;
  }
  .newsletter-form input {
      outline: 0;
  }
  .submit-btn {
    font-weight: 500;
    color: #ffffff;
    background-color: #e02c6d;
    padding: 10px 25px;
    border: 2px solid #e02c6d;
    transition: all 0.3s ease;
    display: inline-block;
    cursor: pointer;
  }




/* ------------------------
    Footer section styles
--------------------- */
#footer {
    width: 484px;
    height: 213px;
    margin: 100px auto 10px;
}
.social-icons {
    width: 170px;
    height: 32px;
    margin: 0px auto;
}
.social-icons a {
    display: inline-block;
    margin: 0px 2px;
}
.social-icons img {
    width: 32px;
    height: 32px;
}
.copyright-text {
    margin-top: 20px;
    text-align: center;
}




/* ------------------------------
    Media Query for responsiveness
---------------------------------- */
/* Mobile Devices */
@media only screen and (max-width:688px) {
    #container {
        margin-bottom: 30px;
    }
    #banner {
        display: flex;
        flex-direction: column;
    }
    .half-width {
        width: 100%;
        justify-content: start;
        flex-direction: column;
        margin-left: 10px;
    }
    .banner-title {
        width: 278px;
        height: 138px;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #ffffff;
        margin-bottom: 27px;
    }
    .btn {
        display: inline-block;
        width: 168px;
        height: 44px;
        background-color: #E02C6D;
        padding: 5px 10px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .half-width .banner-image {
        width: 329px;
        height: 258px;
        transition: .8s linear;
        margin-top: 30px;
    }
    .players {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    .player {
        padding: 15px;
    }
    #highlights {
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .highlights-info {
        width: 329px;
        height: 300px;
        padding: 0px;
    }
    .highlights-title {
        width: 294px;
        height: 80px;
        font-size: 30px;
        line-height: 40px;
    }
    .highlights-description {
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 28px;
    }
    .highlights-image {
        width: 328px;
        height: 248px;
        display: inline-block;
        margin-top: 15px;
    }
    #top-players {
        margin-top: 20px;
        max-width: 360px;
    }
    .top-players-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-players-list .top-player-image {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .top-players-list h5 {
        text-align: start;
    }
    .players-record {
        margin-left: 0px;
    }
    .newsletter-form {
        padding: 0px 10px;
    }
    #footer {
        width: 688px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-image img {
        width: 250px;
    }
    .copyright-text {
        font-size: 16px;
        line-height: 24px;
    }
}

/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    #container {
        margin-bottom: 30px;
    }
    #banner {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .half-width {
        width: 100%;
        margin-left: 10px;
    }
    .banner-title {
        width: 278px;
        height: 138px;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #ffffff;
        margin-bottom: 27px;
    }
    .btn {
        display: inline-block;
        width: 168px;
        height: 44px;
        background-color: #E02C6D;
        padding: 5px 10px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .half-width .banner-image {
        width: 329px;
        height: 258px;
        transition: .8s linear;
        margin-top: 30px;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
        column-gap: 15px;
        padding: 15px;
    }
    .player {
        padding: 15px;
    }
    #highlights {
        padding: 0px 0px 15px 0px;
        margin: 0px auto 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .highlights-info {
        width: 329px;
        height: 300px;
        padding: 0px;
    }
    .highlights-title {
        width: 294px;
        height: 80px;
        font-size: 30px;
        line-height: 40px;
    }
    .highlights-description {
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 28px;
    }
    .highlights-image {
        width: 328px;
        height: 248px;
        display: inline-block;
        margin-top: 15px;
    }
    #top-players {
        margin-top: 20px;
    }
    .top-players-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-players-list .top-player-image {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .top-players-list h5 {
        text-align: start;
    }
    .players-record {
        margin-left: 0px;
    }
    .newsletter-form {
        padding: 0px 10px;
    }
    #footer {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-image img {
        width: 250px;
    }
    .copyright-text {
        font-size: 16px;
        line-height: 24px;
    }
}