/* -------  Fonts -------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* reset browsers default */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0 !important;
}

img {
  width: 100%;
}

p {
  line-height: 26px;
}

/* Common CSS  */
.container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.half-width {
  width: 50%;
  padding: 0 10px;
}

.width-1-of-4 {
  width: 25%;
  padding: 0 15px;
}

.width-1-of-4:first-child,
.half-width:first-child {
  padding-left: 0;
}

.width-1-of-4:last-child,
.half-width:last-child {
  padding-right: 0;
}

.section-title {
  margin-bottom: 25px;
}

.heading {
  color: #0a0826;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.small-heading {
  font-size: 35px;
}

.description {
  color: #6c6c6c;
  margin-top: 8px;
}

.white-color {
  color: #ffffff;
}

/* Button */
.button {
  font-weight: 500;
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 25px;
  border: 2px solid #e02c6d;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
}

.button-icon {
  margin-left: 8px;
}

.button:hover {
  color: #e02c6d;
  background-color: #ffffff;
}

.button-hover-white-border:hover {
  border-color: #ffffff;
}

/* Banner Area */
#banner-area {
  background-color: #10437a;
  color: #ffffff;
  padding: 90px 0;
  transition: transform 0.5s;
}

.banner-heading {
  font-size: 65px;
  font-weight: 700;
  line-height: 80px;
}

.banner-image {
  transition: transform 0.3s ease;
}

#banner-area:hover .banner-image {
  transform: scale(0.95);
}

/* Players Area */
#players-area {
  padding: 70px 0;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.player {
  padding: 15px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.player-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.player-description {
  color: #6c6c6c;
  margin-bottom: 15px;
}

/* Highlights Area */
#highlights-area {
  padding: 50px 0 100px 0;
}

/* Stats Area */
#stats-area {
  padding: 60px 0 80px 0;
  background-color: #10437a;
}

.stats-box {
  padding: 15px;
  border-radius: 10px;
  background-color: #2061a7;
}

.stats-label {
  color: #dde8ff;
  font-size: 15px;
}

.stats-value {
  color: #ffffff;
  font-size: 30px;
}

/* Newsletter Area */
#newsletter-area {
    padding: 60px 0 80px 0;
    background-color: #f7f7f7;
}
  
.newsletter {
    width: 500px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
  
.newsletter-form {
    display: flex;
    flex-direction: column;
}
  
.newsletter-input {
    text-align: center;
    font-weight: 500;
    padding: 10px 25px;
    border: 2px solid #e02c6d;
    transition: all 0.3s ease;
}
  
.newsletter .button {
    margin-top: 10px;
}

/* Footer Area */
#footer-area {
  padding: 50px 0;
  text-align: center;
}

.footer-logo {
  width: 480px;
  max-width: 100%;
  margin: auto;
  line-height: 0;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  color: #969bab;
  background-color: #e7e7e8;
  margin: 0 5px;
}

/* Media Query */
/* For Tablet Device */
@media (max-width: 991px) {
  /* Common CSS Responsive */
  .width-1-of-4 {
    width: 50%;
    padding: 15px;
  }

  .width-1-of-4:nth-child(odd) {
    padding-left: 0;
  }

  .width-1-of-4:nth-child(even) {
    padding-right: 0;
  }

  .heading,
  small-heading {
    font-size: 30px;
    line-height: 40px;
  }

  /* Banner Area Responsive */
  .banner-heading {
    font-size: 36px;
    line-height: 50px;
  }

  /* Players Area Responsive */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Tablet Device */
@media (max-width: 767px) {
  /* Common CSS Responsive */
  .flex {
    flex-direction: column;
  }

  .half-width,
  .width-1-of-4 {
    width: 100%;
    padding: 10px 0;
  }

  .half-width {
    padding: 20px 0;
  }

  .half-width:first-child,
  .width-1-of-4:first-child {
    padding-top: 0;
  }

  .half-width:last-child,
  .width-1-of-4:last-child {
    padding-bottom: 0;
  }

  /* Players Area Responsive */
  .players {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  /* Footer Area Responsive */
  .footer-logo {
    width: 270px;
  }

  /* Sections Padding Responsive */
  #banner-area {
    padding: 60px 0;
  }

  #players-area {
    padding: 45px 0;
  }

  #highlights-area {
    padding: 15px 0 45px 0;
  }

  #stats-area {
    padding: 50px 0 60px 0;
  }
}
